

<div class="thumbnail">
  <h2>All About Our Game &amp; Team: </h2>
  <img src="../assets/images/grouppic.jpg" alt="group photo" style="width:100%">
  <div class="caption">
    <p class="lead">
    While there are many versions of Bubble-Burst, no one (including Wikipedia) seems to know who invented it the game itself. However, it is derived from another popular game called Bust-A-Move, which belongs to the genre of 3-Match Games where one must put like things together to get rid of them and progress.</p>

    <p class="lead">We are a team of students at Epicodus Coding Bootcamp. Our names are Anna Kuznetsova, Anna Timofeyeva, Michael Dunlap, and Mick Sexton.</p>


    <p>You can view our GitHub repo here: <a href="https://github.com/PioneerX1/bubble-burst">https://github.com/PioneerX1/bubble-burst</a></p>
  </div>
</div>
