<h2>
  <br>
  This is where our game will be....
  <br>
</h2>

<canvas  (mousemove)="onMouseMove($event)" (mousedown)="onMouseButton($event)" #myCanvas width="628" height="628"></canvas>

<div #myNav class="overlay" (click)="closeForm($event)">
  <span #myClose class="closebtn" >&times;</span>
  <div class="overlay-content">
    <div class="winner-form">
      <form>
        <h2 class="winner-form-text">Congratulations! Your Score is {{score}}</h2>
        <h3 class="winner-form-text">Enter Your Name to be Immortalized!</h3>
        <input #winnerName>
        <button class="btn btn-success" (click)="captureWinnerStats(winnerName.value)">Submit</button>
      </form>
    </div>
  </div>
</div>
