<div class="jumbotron">
  <h1>Bubble-Burst!</h1>
</div>

<div class="row">
  <div class="col-xs-2">

<div class="w3-sidebar w3-light-grey w3-bar-block side-bar-custom" style="width:15%">
  <div class="container">
  <h3><a routerLink="">Home</a></h3>
  <h3><a routerLink="game">Play Game!</a></h3>
  <h3><a routerLink="about">About</a></h3>
  <h3>High Scores</h3>
</div>
</div>

</div>
<div class="col-xs-10 grid">

<div class="main-content-container">
<router-outlet></router-outlet>
</div>

</div>

</div>
