
<table style="width:100%">
  <caption id="tableHeader">Top winners</caption>
  <tr>
    <th>Name</th>
    <th>Highscore</th>
  </tr>

  <tr *ngFor="let score of scores | async">
    <td>{{score.name}}</td>
    <td>{{score.points}}</td>
  </tr>

  <br>
</table>

<hr>

<h3>Add a New High Score</h3>
<form>
  <label>Name: </label>
  <input #newScoreName type=text required>
  <label>Score: </label>
  <input #newScorePoints type=number required>
  <button class="btn btn-success" (click)="submitNewScore(newScoreName.value, newScorePoints.value)">Add High Score</button>
</form>
<br>
